# **Exercises with dictionaries**

Use the python documentation at https://docs.python.org/3/library/stdtypes.html#mapping-types-dict
to solve the following exercises.

Take the following python dictionary:
```
ages = {
    "Peter": 10,
    "Isabel": 11,
    "Anna": 9,
    "Thomas": 10,
    "Bob": 10,
    "Joseph": 11,
    "Maria": 12,
    "Gabriel": 10,
}
```
1. How many students are in the dictionary? Search for the "len" function.

In [21]:
ages = {
    "Peter": 10,
    "Isabel": 11,
    "Anna": 9,
    "Thomas": 10,
    "Bob": 10,
    "Joseph": 11,
    "Maria": 12,
    "Gabriel": 10,
}

print(len(ages))

8

2. Implement a function that receives the "ages" dictionary as parameter and return the average age
of the students. Traverse all items on the dictionary using the "items" method as above.

In [23]:
ages = {
    "Peter": 10,
    "Isabel": 11,
    "Anna": 9,
    "Thomas": 10,
    "Bob": 10,
    "Joseph": 11,
    "Maria": 12,
    "Gabriel": 10,
}

sum_ages = 0

for name, age in ages.items():
  sum_ages += age

avg_ages = sum_ages / len(ages)

print(round(avg_ages))

10

3. Implement a function that receives the "ages" dictionary as parameter and returns the name
of the oldest student.

In [24]:
ages = {
    "Peter": 10,
    "Isabel": 11,
    "Anna": 9,
    "Thomas": 10,
    "Bob": 10,
    "Joseph": 11,
    "Maria": 12,
    "Gabriel": 10,
}

def oldest_std(di):
  oldest = 0
  for k, v in di.items():
    if v > oldest:
      oldest = v
  return "Oldest student is {} and is {} years old.".format(k, oldest)

print(oldest_std(ages))

Oldest student is Gabriel and is 12 years old.

4. Implement a function that receives the "ages" dictionary and a number "n" and returns a new dict
where each student is n years older. For instance, new_ages(ages, 10) returns a copy of "ages"
where each student is 10 years older.

In [25]:
ages = {
    "Peter": 10,
    "Isabel": 11,
    "Anna": 9,
    "Thomas": 10,
    "Bob": 10,
    "Joseph": 11,
    "Maria": 12,
    "Gabriel": 10,
}

def new_ages(di):
  new_di = {}
  n = int(input("How many years older? "))

  for k, v in di.items():
    new_di[k] = v + n
  return new_di

print(new_ages(ages))

How many years older? 10
{'Peter': 20, 'Isabel': 21, 'Anna': 19, 'Thomas': 20, 'Bob': 20, 'Joseph': 21, 'Maria': 22, 'Gabriel': 20}